<div class="container">  
  <p id="notice"><%= notice %></p>

  <h1>Markers</h1>
  <%= render 'form', marker: @marker%>

  <ul id="all-markers">
    <%= render @markers%>
  </ul>

  <br>

  
</div>  
