<div class="container">
  <p id="notice"><%= notice %></p>
  <h2>Category</h2>
  <%= render 'form', category: @category %>

  <ul id="all-categories">
    <%= render @categories%>
  </ul>
  <br>

  
</div>
